<div data-v-6b53ed4e="" data-v-db60d070="" class="display" data-v-531a5542="">
    <div data-v-6b53ed4e="" id="display">
        <div style="position: relative; width: 781.3px; height: 585.975px;">
            <div style="position: relative; width: 1152px; height: 864px; transform-origin: 0px 0px; transform: scale(0.678212, 0.678212);">
                <div style="width: 1152px; height: 864px; position: absolute; left: 0px; top: 0px; overflow: hidden;">
                    <canvas width="1152" height="896"
                            style="z-index: -1; position: absolute; left: 0px; top: 0px;"></canvas>
                </div>
            </div>
        </div>
    </div> <!----> <!---->
</div>