{% extends "bash.html" %}

{% load static %}
{% block css_style %}

{% endblock %}
{% block title %}
    首页
{% endblock %}
{% block content %}
            <div class="row  border-bottom white-bg dashboard-header">

                <div class="col-md-3">
                    <h2>欢迎您inspinia 2.9.2</h2>
                    <small>您有42条消息和6条通知。</small>
                    <ul class="list-group clear-list m-t">
                        <li class="list-group-item fist-item">
                            <span class="float-right">
                                09:00
                            </span>
                            <span class="label label-success">1</span> 研发新项目1
                        </li>
                        <li class="list-group-item">
                            <span class="float-right">
                                10:16
                            </span>
                            <span class="label label-info">2</span> 研发新项目2
                        </li>
                        <li class="list-group-item">
                            <span class="float-right">
                                08:22
                            </span>
                            <span class="label label-primary">3</span> 研发新项目3
                        </li>
                        <li class="list-group-item">
                            <span class="float-right">
                                11:06
                            </span>
                            <span class="label label-default">4</span> 研发新项目4
                        </li>
                        <li class="list-group-item">
                            <span class="float-right">
                                12:00
                            </span>
                            <span class="label label-primary">5</span> 研发新项目5
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="flot-chart dashboard-chart">
                        <div class="flot-chart-content" id="flot-dashboard-chart"></div>
                    </div>
                    <div class="row text-left">
                        <div class="col">
                            <div class=" m-l-md">
                                <span class="h5 font-bold m-t block">$ 406,100</span>
                                <small class="text-muted m-b block">总销售收入</small>
                            </div>
                        </div>
                        <div class="col">
                            <span class="h5 font-bold m-t block">$ 150,401</span>
                            <small class="text-muted m-b block">年销售收入</small>
                        </div>
                        <div class="col">
                            <span class="h5 font-bold m-t block">$ 16,822</span>
                            <small class="text-muted m-b block">月销售收入</small>
                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="statistic-box">
                        <h4>
                            游戏项目测试进度
                        </h4>
                        <p>
                            你有两个项目没有完成任务。
                        </p>
                        <div class="row text-center">
                            <div class="col-lg-6">
                                <canvas id="doughnutChart2" width="80" height="80" style="margin: 18px auto 0"></canvas>
                                <h5>传奇世界</h5>
                            </div>
                            <div class="col-lg-6">
                                <canvas id="doughnutChart" width="80" height="80" style="margin: 18px auto 0"></canvas>
                                <h5>王者霸业</h5>
                            </div>
                        </div>
                        <div class="m-t">
                            <small>项目未完成描述信息。</small>
                        </div>

                    </div>
                </div>

            </div>
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="ibox ">
                                    <div class="ibox-title">
                                        <h5>数据报告 </h5> <span class="label label-primary">IN+</span>
                                        <div class="ibox-tools">
                                            <a class="collapse-link" href="">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                <i class="fa fa-wrench"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-user">
                                                <li>
                                                    <a href="#" class="dropdown-item">选项 1</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="dropdown-item">选项 2</a>
                                                </li>
                                            </ul>
                                            <a class="close-link" href="">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <div>

                                            <div class="float-right text-right">

                                                <span class="bar_dashboard">5,3,9,6,5,9,7,3,5,2,4,7,3,2,7,9,6,4,5,7,3,2,1,0,9,5,6,8,3,2,1</span>
                                                <br />
                                                <small class="font-bold">$ 20 054.43</small>
                                            </div>
                                            <h4>
                                                游戏数据报告!
                                                <br />
                                                <small class="m-r"><a href="graph_flot.html"> 查看所有数据! </a> </small>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="ibox ">
                                    <div class="ibox-title">
                                        <h5>最新评论</h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link" href="">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                <i class="fa fa-wrench"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-user">
                                                <li>
                                                    <a href="#" class="dropdown-item">选项 1</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="dropdown-item">选项 2</a>
                                                </li>
                                            </ul>
                                            <a class="close-link" href="">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content no-padding">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <p><a class="text-info" href="#">@皇帝</a> 人生就像考古一样，总是要不断地探索和寻觅，才会有意外的惊喜出现！ </p>
                                                <small class="block text-muted"><i class="fa fa-clock-o"></i> 1 分钟</small>
                                            </li>
                                            <li class="list-group-item">
                                                <p><a class="text-info" href="#">@太后</a> 人生就像考古一样，总是要不断地探索和寻觅，才会有意外的惊喜出现！ </p>
                                                <div class="text-center m">
                                                    <span id="sparkline8"></span>
                                                </div>
                                                <small class="block text-muted"><i class="fa fa-clock-o"></i> 2 小时</small>
                                            </li>
                                            <li class="list-group-item">
                                                <p><a class="text-info" href="#">@皇后</a> 人生就像考古一样，总是要不断地探索和寻觅，才会有意外的惊喜出现！ </p>
                                                <small class="block text-muted"><i class="fa fa-clock-o"></i> 2 分钟</small>
                                            </li>
                                            <li class="list-group-item ">
                                                <p><a class="text-info" href="#">@太师</a> 人生就像考古一样，总是要不断地探索和寻觅，才会有意外的惊喜出现！ </p>
                                                <small class="block text-muted"><i class="fa fa-clock-o"></i> 1 小时</small>
                                            </li>
                                            <li class="list-group-item">
                                                <p><a class="text-info" href="#">@宫女</a> 人生就像考古一样，总是要不断地探索和寻觅，才会有意外的惊喜出现！ </p>
                                                <small class="block text-muted"><i class="fa fa-clock-o"></i> 1 分钟</small>
                                            </li>
                                            <li class="list-group-item">
                                                <p><a class="text-info" href="#">@太监</a> 人生就像考古一样，总是要不断地探索和寻觅，才会有意外的惊喜出现！ </p>
                                                <small class="block text-muted"><i class="fa fa-clock-o"></i> 2 分钟</small>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="ibox ">
                                    <div class="ibox-title">
                                        <h5>最新消息</h5>
                                        <div class="ibox-tools">
                                            <span class="label label-warning-light float-right">10条消息未读</span>
                                        </div>
                                    </div>
                                    <div class="ibox-content">

                                        <div>
                                            <div class="feed-activity-list">

                                                <div class="feed-element">
                                                    <a class="float-left" href="profile.html">
                                                        <img alt="image" class="rounded-circle" src="img/profile.jpg">
                                                    </a>
                                                    <div class="media-body ">
                                                        <small class="float-right">5分钟</small>
                                                        <strong>小王</strong> 晚上要一起去吃饭吗 <br>
                                                        <small class="text-muted">2017.12.12 12:00</small>

                                                    </div>
                                                </div>

                                                <div class="feed-element">
                                                    <a class="float-left" href="profile.html">
                                                        <img alt="image" class="rounded-circle" src="img/a2.jpg">
                                                    </a>
                                                    <div class="media-body ">
                                                        <small class="float-right">2个月</small>
                                                        <strong>小王</strong> 查看了 <strong>晚上睡觉有必要把路由器关掉么？</strong><br>
                                                        <small class="text-muted">2017.12.12 12:00</small>
                                                    </div>
                                                </div>
                                                <div class="feed-element">
                                                    <a class="float-left" href="profile.html">
                                                        <img alt="image" class="rounded-circle" src="img/a3.jpg">
                                                    </a>
                                                    <div class="media-body ">
                                                        <small class="float-right">2小时</small>
                                                        <strong>小王</strong> 查看了 <strong>晚上睡觉有必要把路由器关掉么？</strong>.<br>
                                                        <small class="text-muted">2017.12.12 12:00</small>
                                                    </div>
                                                </div>
                                                <div class="feed-element">
                                                    <a class="float-left" href="profile.html">
                                                        <img alt="image" class="rounded-circle" src="img/a4.jpg">
                                                    </a>
                                                    <div class="media-body ">
                                                        <small class="float-right text-navy">5小时</small>
                                                        <strong>小王</strong> 查看了 <strong>晚上睡觉有必要把路由器关掉么？</strong><br>
                                                        <small class="text-muted">2017.12.12 12:00</small>
                                                        <div class="actions">
                                                            <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> 赞 </a>
                                                            <a class="btn btn-xs btn-white"><i class="fa fa-heart"></i> 喜欢</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="feed-element">
                                                    <a class="float-left" href="profile.html">
                                                        <img alt="image" class="rounded-circle" src="img/a5.jpg">
                                                    </a>
                                                    <div class="media-body ">
                                                        <small class="float-right">2小时</small>
                                                        <strong>小王</strong> 评论了 <strong>晚上睡觉有必要把路由器关掉么？</strong><br>
                                                        <small class="text-muted">2017.12.12 12:00</small>
                                                        <div class="well">
                                                            人生就好像你搭乘一辆火车，沿途有不同的景色，不同的站台，和不同的人上车，也会过了这个景点到下一个景点，到下一个站台，不同的人上下车，那些都是过客，重要的是自己的旅程。
                                                        </div>
                                                        <div class="float-right">
                                                            <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> 赞 </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="feed-element">
                                                    <a class="float-left" href="profile.html">
                                                        <img alt="image" class="rounded-circle" src="img/profile.jpg">
                                                    </a>
                                                    <div class="media-body ">
                                                        <small class="float-right">23h ago</small>
                                                        <strong>小王</strong> 评论了 <strong>晚上睡觉有必要把路由器关掉么？</strong><br>
                                                        <small class="text-muted">2017.12.12 12:00</small>
                                                    </div>
                                                </div>
                                                <div class="feed-element">
                                                    <a class="float-left" href="profile.html">
                                                        <img alt="image" class="rounded-circle" src="img/a7.jpg">
                                                    </a>
                                                    <div class="media-body ">
                                                        <small class="float-right">46h ago</small>
                                                        <strong>小王</strong> 评论了 <strong>晚上睡觉有必要把路由器关掉么？</strong><br>
                                                        <small class="text-muted">2017.12.12 12:00</small>
                                                    </div>
                                                </div>
                                            </div>

                                            <button class="btn btn-primary btn-block m-t"><i class="fa fa-arrow-down"></i> 加载更多</button>

                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-4">
                                <div class="ibox ">
                                    <div class="ibox-title">
                                        <h5>开发项目</h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link" href="">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                <i class="fa fa-wrench"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-user">
                                                <li>
                                                    <a href="#" class="dropdown-item">选项 1</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="dropdown-item">选项 2</a>
                                                </li>
                                            </ul>
                                            <a class="close-link" href="">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content ibox-heading">
                                        <h3>你今天有会议！</h3>
                                        <small><i class="fa fa-map-marker"></i> 上午6:00有会议。检查您的时间表以查看详细信息。</small>
                                    </div>
                                    <div class="ibox-content inspinia-timeline">

                                        <div class="timeline-item">
                                            <div class="row">
                                                <div class="col-4 date">
                                                    <i class="fa fa-briefcase"></i>
                                                    6:00 am
                                                    <br />
                                                    <small class="text-navy">2小时前</small>
                                                </div>
                                                <div class="col content no-top-border">
                                                    <p class="m-b-xs"><strong>与小王聊天</strong></p>

                                                    <p>人生如一本书，应该多一些精彩的细节，少一些乏味的字眼。</p>

                                                    <p><span data-diameter="40" class="updating-chart">5,3,9,6,5,9,7,3,5,2,5,3,9,6,5,9,4,7,3,2,9,8,7,4,5,1,2,9,5,4,7,2,7,7,3,5,2</span></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline-item">
                                            <div class="row">
                                                <div class="col-4 date">
                                                    <i class="fa fa-file"></i>
                                                    7:00 am
                                                    <br />
                                                    <small class="text-navy">3小时前</small>
                                                </div>
                                                <div class="col content">
                                                    <p class="m-b-xs"><strong>与小王聊天</strong></p>
                                                    <p>人生如一局棋，应该多一些主动的出击，少一些消极的退缩。</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline-item">
                                            <div class="row">
                                                <div class="col-4 date">
                                                    <i class="fa fa-coffee"></i>
                                                    8:00 am
                                                    <br />
                                                </div>
                                                <div class="col content">
                                                    <p class="m-b-xs"><strong>与小王聊天</strong></p>
                                                    <p>
                                                        人生如一首诗，应该多一些悠扬的抒情，少一些愁苦的叹息。
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline-item">
                                            <div class="row">
                                                <div class="col-4 date">
                                                    <i class="fa fa-phone"></i>
                                                    11:00 am
                                                    <br />
                                                    <small class="text-navy">21小时前</small>
                                                </div>
                                                <div class="col content">
                                                    <p class="m-b-xs"><strong>与小王打电话</strong></p>
                                                    <p>
                                                        人生如一幅画，应该多一些亮丽的着色，少一些灰色的基调。
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline-item">
                                            <div class="row">
                                                <div class="col-4 date">
                                                    <i class="fa fa-user-md"></i>
                                                    09:00 pm
                                                    <br />
                                                    <small>21小时前</small>
                                                </div>
                                                <div class="col content">
                                                    <p class="m-b-xs"><strong>与小王聊天</strong></p>
                                                    <p>
                                                        人生如一支歌，应该多一些昂扬的吟唱，少一些哀婉的咏叹。
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline-item">
                                            <div class="row">
                                                <div class="col-4 date">
                                                    <i class="fa fa-comments"></i>
                                                    12:50
                                                    <br />
                                                    <small class="text-navy">48小时前</small>
                                                </div>
                                                <div class="col content">
                                                    <p class="m-b-xs"><strong>与小王聊天</strong></p>
                                                    <p>
                                                        人生犹如石材，在上面雕刻神或是魔鬼，那是各人的自由。
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

{% endblock %}